@using BlackMesa.MyStack.Main.Resources
@model BlackMesa.MyStack.Main.ViewModels.Account.ManageUserViewModel

<p>
    Sie besitzen kein lokales Kennwort für diese Website. Fügen Sie ein lokales
    Konto hinzu, damit Sie sich ohne eine externe Anmeldung anmelden können.
</p>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <h3>@Strings.SetPassForLocalAccount</h3>
    
    @Html.ValidationSummary()

    @Html.LabelFor(m => m.NewPassword)

    @Html.PasswordFor(m => m.NewPassword)

    @Html.LabelFor(m => m.ConfirmPassword)

    @Html.PasswordFor(m => m.ConfirmPassword)

    <input type="submit" value="@Strings.Save" />
}
