@using BlackMesa.MyStack.Main.Resources
@model BlackMesa.MyStack.Main.ViewModels.Account.ManageUserViewModel

@{
    ViewBag.Title = Strings.ChangePassword;
}

<div id="content">

    <section id="change-password">
        
        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="tile gray-darker">
                <h1>@ViewBag.Title</h1>
            </div>

            <div class="form-element-container">
                @Html.ValidationSummary()
            </div>

            <div class="form-element-container">
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
            </div>

            <div class="form-element-container">
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </div>

            <div class="form-element-container">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </div>


            <div class="form-element-container">
                <button class="gray-dark-hover" type="submit">
                    @Strings.ChangePassword
                </button>
            </div>


        }
        

        @*@if (ViewBag.HasLocalPassword)
        {
            @Html.Partial("_ChangePasswordPartial")
        }
        else
        {
            @Html.Partial("_SetPasswordPartial")
        }


        @Html.Action("RemoveAccountList")


        @if (!Request.IsAuthenticated)
        {
            @Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
        }*@


    </section>

</div>


@* ------------------- Menu ------------------- *@

<nav id="menu">

    <a class="red-hover" href="@Url.Action("Manage", "Account")" title="@Strings.Abort">
        <i class="icon-abort"></i>
    </a>

</nav>