@using System.Activities.Statements
@using BlackMesa.MyStack.Main.Resources
@model BlackMesa.MyStack.Main.ViewModels.Account.LoginViewModel

@{
    ViewBag.Title = Strings.LogIn;
}


@* ------------------- Content ------------------- *@



<div id="content">

    <section id="login">

        <div class="tile gray-darker">
            <h1>@ViewBag.Title</h1>
        </div>

        <section id="local-login">

            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                @*<h3>@Strings.UseLocalAccount</h3>*@
                
                <div class="tile gray-light">
                    @Html.ValidationSummary(false)
                </div>

                <div class="form-element-container">
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName, new { @autocomplete = "off", @autofocus = "" })
                </div>

                <div class="form-element-container">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @autocomplete = "off" })
                </div>

                <div class="form-element-container">
                    @Html.LabelFor(m => m.RememberMe)
                    @Html.CheckBoxFor(m => m.RememberMe)
                </div>
                
                

                <div class="form-element-container">
                    <button class="gray-dark-hover" type="submit">
                        @Strings.LogIn
                    </button>
                </div>


                @*@Strings.NoLocalAccount<text>: </text>@Html.ActionLink(Strings.Register, "Register")*@
            }

        </section>

        @*@if (!Request.IsAuthenticated)
        {
            @Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
        }*@

    </section>
    
</div>


<nav id="menu">

    <a class="red-hover" href="@Url.Action("Index", "Home")" title="@Strings.Back">
        <i class="icon-back"></i>
    </a>

</nav>