@using BlackMesa.MyStack.Main.Resources
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = Strings.AccountManagement;
}


<div id="content">

    <section id="manage">

        <div class="tile gray-darker">
            <h1>@ViewBag.Title</h1>
        </div>
        
        <div class="form-element-container">
            @ViewBag.StatusMessage
        </div>

        <a class="tile gray-light-hover" href="@Url.Action("ChangePassword", "Account")">
            <i class="icons-key"></i>@Strings.ChangePassword
        </a>
        
        <a class="tile gray-light-hover" href="@Url.Action("ChangeLanguage", "Account")">
            <i class="icons-globe"></i>@Strings.ChangeLanguage
        </a>

        <a class="tile gray-light-hover" href="@Url.Action("Close", "Account")">
            <i class="icon-delete"></i>@Strings.CloseAccount
        </a>


    </section>
</div>


<nav id="menu">

    <a class="red-hover" href="@Url.Action("Index", "Home")" title="@Strings.Back">
        <i class="icon-back"></i>
    </a>

</nav>