@using BlackMesa.MyStack.Main.Resources
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = Strings.Manage;
}


<div id="content">

    <section id="manage">

        <div class="tile gray-darker">
            <h1>@ViewBag.Title</h1>
        </div>

        <div class="form-element-container">
            @ViewBag.StatusMessage
        </div>

        
        @Html.Partial("_ChangePasswordPartial")

        @*@if (ViewBag.HasLocalPassword)
        {
            @Html.Partial("_ChangePasswordPartial")
        }
        else
        {
            @Html.Partial("_SetPasswordPartial")
        }


        @Html.Action("RemoveAccountList")


        @if (!Request.IsAuthenticated)
        {
            @Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
        }*@

    </section>
</div>


<nav id="menu">

    <a class="red-hover" href="@Url.Action("Index", "Home")" title="@Strings.Back">
        <i class="icon-back"></i>
    </a>

</nav>