@using BlackMesa.MyStack.Main.Resources
@model BlackMesa.MyStack.Main.ViewModels.Account.RegisterViewModel
@{
    ViewBag.Title = Strings.Register;
}

<section id="register">

    <h1>@ViewBag.Title</h1>
    
    <section id="register-local-account">

        @using (Html.BeginForm("Register", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <h3>@Strings.UseLocalAccount</h3>
            
            @Html.ValidationSummary()

            @Html.LabelFor(m => m.UserName)
            @Html.TextBoxFor(m => m.UserName)

            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)

            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword)

            <input type="submit" value="@Strings.Register" />
        }
    </section>
    
    @Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })

</section>