@using BlackMesa.MyStack.Main.Resources
@using Microsoft.Ajax.Utilities

@model BlackMesa.MyStack.Main.ViewModels.Selection.DeleteViewModel

@{
    ViewBag.Title = Strings.DeleteSelection;
}


@* ------------------- Content ------------------- *@

<div id="content">
    

    <section id="selection-delete">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            
            @Html.HiddenFor(model => model.Id)
            
            <div class="tile gray-darker">
                <h1>@ViewBag.Title</h1>
            </div>
            
            if (!ViewData.ModelState.IsValid)
            {
                <div class="tile gray-light">
                    @Html.ValidationSummary()
                </div>
            }

            <div class="tile gray-light">
                    @Strings.SelectionAffection: @Model.AffectedCardsCount @(Model.AffectedCardsCount == 1 ? Strings.Card : Strings.Cards)
                </div>
            
            <div class="form-element-container">
                <button class="gray-dark-hover" type="submit">
                    <i class="icon-warning"></i>@Strings.PerformDeletion
                </button>
            </div>
        }

    </section>

</div>



@* ------------------- Menu ------------------- *@

<nav id="menu">

    <a class="red-hover" href="@Url.Action("Options", "Selection", new { id = Model.Id })" title="@Strings.Abort">
        <i class="icon-abort"></i>
    </a>

</nav>