
@using System.Activities.Statements
@using BlackMesa.MyStack.Main.Resources

@model BlackMesa.MyStack.Main.ViewModels.Selection.StatisticViewModel

@{
    ViewBag.Title = Strings.Statistic;
}


@* ------------------- Content ------------------- *@

<div id="content">

    <section id="selection-statistic">
        
        <div class="tile gray-darker">
            <h1>@ViewBag.Title</h1>
        </div>
        
        <div class="tile gray-dark">
            <h3>@Strings.SelectedCount: @Model.SelectedCount</h3>
        </div>
        
        <div class="tile gray-light">
            @Strings.AverageLevel: @String.Format("{0:0.##}", Model.AverageLevel)
        </div>

        <div class="tile gray-light">
            @Strings.AverageAnwserTime: @String.Format("{0:0.##}", Model.AverageAnwserTime)s
        </div>
        
        <div class="tile gray-light">
            @Strings.AverageRepititions: @String.Format("{0:0.##}", Model.AverageRepititions)
        </div>

        <div class="tile gray-light">
            @Strings.DueCount: @Model.DueCount
        </div>
        
        <div class="tile gray-dark">
            <h3>@Strings.TestItemsCount: @Model.TestItemsCount</h3>
        </div>

        <div class="tile gray-light">
            @Strings.CorrectCount: @String.Format("{0:0.##}", Model.CorrectPercentage)%  (@Model.CorrectCount)
        </div>
        
        <div class="tile gray-light">
            @Strings.PartlyCorrectCount: @String.Format("{0:0.##}", Model.PartlyCorrectPercentage)%  (@Model.PartlyCorrectCount)
        </div>
        
        <div class="tile gray-light">
            @Strings.WrongCount: @String.Format("{0:0.##}", Model.WrongPercentage)%  (@Model.WrongCount)
        </div>
        

        


    </section>

</div>



@* ------------------- Menu ------------------- *@

<nav id="menu">

    <a class="red-hover" href="@Url.Action("Options", "Selection", new { id = Model.FolderId })" title="@Strings.Back">
        <i class="icon-back"></i>
    </a>

</nav>