@using BlackMesa.MyStack.Main.Resources


@{
    ViewBag.Title = Strings.Learning;
}

@* ------------------- Content ------------------- *@

<div id="content">
    <section id="home-index">
        
        <div id="logo" class="tile gray-darker center">
            <img src="~/Images/mystack_logo.png" />
        </div>

        <div class="tile gray-light center">
            <p>
                <p>@Strings.MyStackIntro</p>
            </p>
            
        </div>
        
        <nav>

            @if (User.Identity.IsAuthenticated)
            {
                <a class="tile red-hover center" href="@Url.Action("Index", "Folder")">
                    <h3><i class="icon-list"></i>@Strings.YourFolders</h3>
                </a>
                
                <a class="tile red-hover center" href="@Url.Action("Manage", "Account")">
                    <h3><i class="icon-cogs"></i>@Strings.Manage</h3>
                </a>

                <a class="tile red-hover center" href="@Url.Action("LogOff", "Account")">
                    <h3><i class="icon-logout"></i>@Strings.Logout</h3>
                </a>
            }
            else
            {
                <a class="tile red-hover center" href="@Url.Action("Login", "Account")">
                    <h3><i class="icon-login"></i>@Strings.LogIn</h3>
                </a>
            }

        </nav>
        

    </section>
</div>



@*<nav id="menu">

    @if (User.Identity.IsAuthenticated)
    {
        <a class="red-hover" href="@Url.Action("Index", "Folder")" title="@Strings.YourFolders">
            <i class="icon-list"></i>
        </a>
        
        <a class="red-hover" href="@Url.Action("LogOff", "Account")" title="@Strings.Logout">
            <i class="icon-logout"></i>
        </a>
        
        <a class="red-hover" href="@Url.Action("Manage", "Account")" title="@Strings.Manage">
            <i class="icon-cogs"></i>
        </a>
    }
    else
    {
        <a class="red-hover" href="@Url.Action("Login", "Account")" title="@Strings.LogIn">
            <i class="icon-login"></i>
        </a>
        
        <a class="red-hover" href="@Url.Action("Register", "Account")" title="@Strings.Register">
            <i class="icon-register"></i>
        </a>
    }

</nav>*@





